<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="utf-8" />
    <title>@Page.Title</title>
    @RenderSection("head", required: false)
    <link rel="stylesheet" href="~/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/all.css">
    <link rel="stylesheet" href="~/css/e-Mensa.css" />
    <script src="~/script/jquery-3.2.1.slim.min.js"></script>
    <script src="~/script/popper.min.js"></script>
    <script src="~/script/bootstrap.min.js"></script>
</head>
<body>
    <div class="container">
        @RenderPage("_header.cshtml")
        <hr />
        @RenderBody()
        <hr />
        @RenderPage("_footer.cshtml")
    </div>
</body>
</html>