@using System.Configuration
@using MySql.Data.MySqlClient;
@{
    Layout = "~/_Layout.cshtml";
    Page.Title = "Produkte";
}
@{
    //String qstring = Request.QueryString["meals"];
    String currurl = HttpContext.Current.Request.RawUrl; //z.B "/Produkte.cshtml?available=..."
    String QueryString = currurl.Substring(currurl.IndexOf('?') + 1); //z.b. "available=..."
    Boolean available;
    Boolean vegetarian;
    Boolean vegan;
    int categoryid;
    var res = HttpUtility.ParseQueryString(QueryString).Get("available");
    available = (res == "true");
    res = HttpUtility.ParseQueryString(QueryString).Get("vegetarian");
    vegetarian = (res == "true");
    res = HttpUtility.ParseQueryString(QueryString).Get("vegan");
    vegan = (res == "true");
    try
    {
        res = HttpUtility.ParseQueryString(QueryString).Get("kat");
        categoryid = Convert.ToInt32(res);
    }
    catch
    {
        categoryid = 0;
    }
    AllCategorysModel AllCategorys = new AllCategorysModel();
    AllCategorys.SetAllCategorys();
    KategorieModel CurrentCatagory = AllCategorys.GetCurrentCategory(categoryid);
}
<div class="row">
    <div class="col-3"></div>
    <div class="col-9">
        <h1>Verfügbare Speisen (@CurrentCatagory.Name)</h1>
    </div>
</div>
<div class="row mt-5">
    <div class="col-3">
        <form id="myFilter">
            <fieldset>
                <legend>Speiseliste filtern</legend>
                <select name="kat" class="form-control btn-outline-success">
                    <optgroup label="Generell">
                        <option value="0" selected>Alles Anzeigen</option>
                    </optgroup>
                    @Helper.CategoryHelper(AllCategorys, CurrentCatagory)
                </select>
                <br />
                @Helper.CreateCheckbox("available", "nur verfügbare", available)
                @Helper.CreateCheckbox("vegetarian", "nur vegetarische", vegetarian)
                @Helper.CreateCheckbox("vegan", "nur vegane", vegan)
                <input class="btn btn-outline-success btn-center" type="submit" value="Speisen filtern"><br />
            </fieldset>
        </form>
    </div>
    <div class="col-7">
        <div class="row">
            <!-- Obere Reihe der Speisen-->
            @Helper.ProductHelper(categoryid, available, vegetarian, vegan)
        </div>
    </div>
    <div class="col-2">
    </div>
</div>