@using System.Configuration
@using MySql.Data.MySqlClient;

@helper Base64Image(byte[] bindata, string alt, bool available)
{
    if (bindata != null && bindata.Length > 0)
    {
        string Base64Prefix = "data:image/jpeg;base64,";
        string image = Base64Prefix + System.Convert.ToBase64String(bindata);

        // Diese Base64-codierte Repräsentation der Bilddatei wird dem Browser direkt übergeben
        if (available)
        {
<img class="square" alt="@alt" src="@image" />
        }
        else
        {
<img class="square unavailable" alt="@alt" src="@image" />
        }

    }
    else
    {
<p class="error">Es kann kein Bild gezeigt werden </p>
    }
}


@*
    - listet alle Zutaten auf
    - Benötigt geöffneten tbody
*@
@helper IngredientsHelper()
{
    string conString = ConfigurationManager.ConnectionStrings["dbConStr"].ConnectionString;
    MySqlConnection con = new MySqlConnection(conString);
    try
    {
        con.Open();
        MySqlCommand cmd;
        cmd = con.CreateCommand();
        cmd.CommandText = "SELECT id, name, glutenfree, bio, vegetarian, vegan FROM ingredients ORDER BY bio DESC,Name ASC;";
        MySqlDataReader r = cmd.ExecuteReader();
        while (r.Read()) //für jede id in der Tabelle incredients
        {
            ZutatenModel Z = new ZutatenModel();
            try
            {
                Z.ID = Convert.ToInt32(r["id"]);
                Z.Name = r["name"].ToString();
                //Z.Beschreibung = r["Beschreibung"].ToString(),
                Z.Bio = Convert.ToBoolean(r["bio"]);
                Z.Vegetarisch = Convert.ToBoolean(r["vegetarian"]);
                Z.Vegan = Convert.ToBoolean(r["vegan"]);
                Z.Glutenfrei = Convert.ToBoolean(r["glutenfree"]);
            }
            catch
            {
                Z.ID = 0;
                Z.Name = "";
                Z.Bio = false;
                Z.Vegetarisch = false;
                Z.Vegan = false;
                Z.Glutenfrei = false;
            }
            String Tooltipp = "Suchen sie nach '" + @Z.Name + "' im Web";
            String NameForWebSearch = "" + @Z.Name;
            NameForWebSearch = NameForWebSearch.Replace(" ", "%20");
<tr>
    <td><a href="@($"http://www.google.de/search?q={NameForWebSearch}")" target="_blank" title="@Tooltipp">@Z.Name @MarkBio(Z.Bio)</a></td>
    @*<td>@z.Beschreibung</td>*@
    <td>@FlagIcon(Z.Vegetarisch)</td>
    <td>@FlagIcon(Z.Vegan)</td>
    <td>@FlagIcon(Z.Glutenfrei)</td>
</tr>
        }
        r.Close();
        con.Close();
    }
    catch (Exception e)
    {
<tr><td>@e.Message</td></tr>
    }
}

@* Helper: zeichnet ein Kreis bzw. ein angecheckten Kreis abhängig eines übergebenen Bools *@
@helper FlagIcon(bool flag)
{
<i class="far @(flag ? "fa-check-circle" : "fa-circle")"></i>
}

@*Helper: fügt abhängig des übergebenen bools ein svg Bild ein*@
@helper MarkBio(bool bio)
{
    if (bio)
    {
<img src="~/img/bio.svg" height="25" alt="[BIO!]" />
    }
}

@*
    - Zeichnet (wenn Verbindung zur DB vorhanden) max. die ersten 8 Gericht sortiert nach der ID.
    - Wenn keine Verbindung zur DB besteht, dann wird die jeweilige Exception mit ausgegeben.
    - Die Anzahl der Gerichte kann direkt aus dem Query-String hier mit übergeben werden (zb. "6")
    - zu den ersten 8 IDs wird je ein Objekt der Klasse "GerichtModel" erzeugt.
*@
@helper ProductHelper()
{
    Boolean available;
    Boolean vegetarian;
    Boolean vegan;
    String currurl = HttpContext.Current.Request.RawUrl; //z.B "/Produkte.cshtml?available=..."
    String QueryString = currurl.Substring(currurl.IndexOf('?') + 1); //z.b. "available=..."
    try
    {
        var res = HttpUtility.ParseQueryString(QueryString).Get("available");
        available = (res == "1");
    }
    catch
    {
        available = false;
    }
    try
    {
        var res = HttpUtility.ParseQueryString(QueryString).Get("vegetarian");
        vegetarian = (res == "1");
    }
    catch
    {
        vegetarian = false;
    }
    try
    {
        var res = HttpUtility.ParseQueryString(QueryString).Get("vegan");
        vegan = (res == "1");
    }
    catch
    {
        vegan = false;
    }

    string conString = ConfigurationManager.ConnectionStrings["dbConStr"].ConnectionString;
    MySqlConnection con = new MySqlConnection(conString);
    try
    {
        con.Open();
        MySqlCommand cmd;
        cmd = con.CreateCommand();
        if (QueryString == "/Produkte.cshtml") //es wurden keine Parameter ünbergeben
        {
            cmd.CommandText = @"SELECT * FROM `Extended Product View`;";
        }
        else //es wurden Parameter übergeben
        {
            cmd.CommandText = @"SELECT * FROM `Extended Product View` WHERE available = " + (available ? 1 : 0) + " AND VGT = " + (vegetarian ? 1 : 0) + " AND VGN = " + (vegan ? 1 : 0) + ";";
        }
        MySqlDataReader r = cmd.ExecuteReader();
        int count = 0;
        while (r.Read() || (r.Read() && count < 8)) //für jede id in der Tabelle Products (jedoch max. 8) :
        {
            GerichtModel G = new GerichtModel();
            try
            {
                G.ID = Convert.ToInt32(r["id"]);
                G.Name = r["name"].ToString();
                G.Beschreibung = r["description"].ToString();
                G.Stock = Convert.ToInt32(r["stock"]);
                G.Verfuegbar = Convert.ToBoolean(r["available"]);
                G.Bilddaten = r["blob_data"];
                G.Bildtitel = r["alttext"].ToString();
            }
            catch
            {
                G.ID = 0;
                G.Name = "";
                G.Beschreibung = "";
                G.Stock = 0;
                G.Verfuegbar = false;
                G.Bilddaten = null;
                G.Bildtitel = "";
            }

<div class="col-3">
    @{
        @Helper.Base64Image((byte[])G.Bilddaten, G.Bildtitel, G.Verfuegbar);
        <p class="mb-0">@G.Name</p>

                    if (G.Verfuegbar)
                    {
        <a href="Detail.cshtml?id=@G.ID" class="mb-1">Details</a>
                    }
                    else
                    {
        <p>Vergriffen</p>
                    }
    }
</div>
            count++;
        }
        r.Close();
        con.Close();
    }
    catch (Exception e)
    {
<div class="col-12">
    @*<img title="Wok-Bild" class="square unavailable" alt="gericht" src="" />*@
    <p class="mb-0">@e.Message</p>
</div>
    }
}