<footer>
    <div class="row">
        <div class="col-4"><p>&copy; 2018 DBWT</p></div>
        <div class="col-8 pdl-0">
            <nav class="navbar navbar-expand">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        @Html.ActionLink("Login", "Index", "User", new object { }, new { @class = "nav-link" })
                    </li>
                    <li class="nav-item">
                        @Html.ActionLink("Registrieren", "Register", "User", new object { }, new { @class = "nav-link" })
                    </li>
                    <li class="nav-item">
                        @Html.ActionLink("Zutatenliste", "Zutaten", "Mensa", new object { }, new { @class = "nav-link" })
                    </li>
                    <li class="nav-item">
                        @Html.ActionLink("Impressum", "Impressum", "", new object { }, new { @class = "nav-link" })
                    </li>
                </ul>
                <p>
                    <a href="">
                        <img src="http://www.w3.org/Icons/valid-xhtml10"
                             alt="Valid XHTML 1.0!" height="31" width="88" />
                    </a>
                </p>
                <p class="col-md-3">@DateTime.Now</p>
            </nav>
        </div>
    </div>
</footer>